<app-title [title]="'Event'"></app-title>
<div class="form-inline">
    <div class="form-group mb-2">
        <label class="mr-2 font-weight-bold h5" for="Filter">Filter:</label>
        <input type="text" class="form-control mr-2" placeholder="Search" [(ngModel)]="filter">
    </div>
</div>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th (click)="isCollapsed = !isCollapsed" style="cursor: pointer;">
                Image
                <i class="fas" 
                    [ngClass]="{
                        'fa-chevron-up': isCollapsed,
                        'fa-chevron-down': !isCollapsed
                    }">
                </i>
            </th>
            <th>Id</th>
            <th>Theme</th>
            <th>Local</th>
            <th>Date</th>
            <th>Amount of People</th>
            <th>Lote</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody *ngIf="events && events.length">
        <tr *ngFor="let event of eventsFiltered">
            <td>
                <img [collapse]="isCollapsed" [isAnimated]="true" src="assets/{{event.imageURL}}" alt="{{event.imageURL}}" [style.width.px]="widthImg" [style.margin.px]="marginImg">
            </td>
            <td>{{event.id}}</td>
            <td>{{event.theme}}</td>
            <td>{{event.local}}</td>
            <td>{{event.eventDate | DateTimeFormat}}</td>
            <td>{{event.peopleCount}}</td>
            <td>{{event.lotes[0].name}}</td>
            <td>
                <button class="btn btn-primary btn-sm mr-2" tooltip="Edit" (click)="openModal(confirmModal)"><i class="fa fa-edit"></i></button>
                <button class="btn btn-danger btn-sm" tooltip="Delete" (click)="openModal(confirmModal)"><i class="fa fa-trash"></i></button>
            </td>
        </tr>
    </tbody>
    <tfoot *ngIf="!events.length">
        <tr>
            <td colspan="8" class="text-center">
                <h4>No events found</h4>
            </td>
        </tr>
    </tfoot>
</table>

<!-- {{events | json }}-->

<ng-template #confirmModal>
    <div class="modal-body text-center">
      <p>Do you want to confirm?</p>
      <button type="button" class="btn btn-primary mr-2" (click)="confirm()" >Yes</button>
      <button type="button" class="btn btn-danger" (click)="decline()" >No</button>
    </div>
</ng-template>